@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:Roboto;
    box-sizing: border-box;
}

html{
    /* background: #eee; */
}
body{
    display: flex;
    margin: auto;
    flex-direction: column;
}

.max-width{
    max-width: 1080px;
    width: 100%;
    margin: auto;
}
.h100{
    height: 100%;
}
.active {
    background:rgba(0,0,0,0.2)
}






    /* header cabecera */
header{
    color: #fff;
    /* height: 150px; */
    
    
}

.header{
    flex-wrap: wrap;
    flex-direction: column;

}
.header-p {
    display: flex;
    background-image: linear-gradient(to right,#1d71b8, #003595);
    /* align-items: center; */
}
.header-responsive{
    display: flex;
    flex-direction: column;
}
.header-top{
    height: 120px;
    display: flex;
    width: 100%;
}
.header-left{
    width: 160px !important;
}
.header-left img{
    height: 150px;
    position: absolute;

}

.header-rigth{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.header-title{
    display: flex;
    align-items: center;
}
.header-title h3{
    font-size: 30px;
}

.header-logos{
    display: flex;
}
.facutlado-logo{
    display: flex;
    position: relative;
    justify-content: center;
    align-items:center;
}
.facutlado-logo img:nth-child(1){
    width: 176px;
}
.facutlado-logo img:nth-child(2){
    position: absolute;
    height: 100px;
    justify-content: center;
}
.header-logos img{
    height: 120px;
}

.header-center-title{
    display: flex;
    height: 30px;
    background-image: linear-gradient(to left,#1d71b8, #003595);
    align-items:center;
    /* text-align: center; */
}
.center-box{
    display: flex;
    height: 30px;
    background: #b89d2b;
    align-items:center;
    
}
.h-t{
    display: flex;
}
.header-center-title span{
    font-weight: 300;
    letter-spacing: 18px;
}


.header-nav{
    height: 40px;
    background-color: #b89d2b;
}
nav{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}
nav ul{
    display: flex;
    list-style-type: none;
}
nav ul li{
    border-right: 1px solid #fff;
    display: flex;
}
nav ul li:last-child{
    border-right: none;
}
nav ul li a{
    color:#fff;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: bolder;
}




/* main container */

main{
    /* your code here */
    padding-bottom: 0;
    background: #eee;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background:#fff;
    z-index: -999;
    padding: 10px;
    box-shadow: 0 0 2px 0 grey;
    padding-bottom: 100px;
}


.welcome{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px 0 grey;
    padding: 30px;
    background-color: #f1ebd5;
    gap: 20px;

    .welcome-links ul{
        display: flex;
        gap: 20px;
        list-style-type: none;
        font-size:13px;
        
    }
    .welcome-links ul li a{
        color:blue;    
    }
}

.welcome-box{
    display: flex;
    flex-direction: row;
}
.w-left {
    width: 100%;
    max-width: 300px;
    position: relative;
}
.w-left img{
    display: flex;
    height: auto;
    width: 100%;
}
.w-rigth{
    display: flex;
    flex: 1;
    flex-direction: column;
    /* justify-content: center; */
    align-items:center;
    justify-content: center;
    padding:  0 50px;
    gap: 30px;
}
.w-rigth h1{
    color:#003595;
    text-align: center;
    font-size: 30px;
}
.w-rigth span{
    text-align: center;
    font-size: 20px;
    color:#333;
    letter-spacing: 1px;
}



.banner{
    background:#333;
}
.banner-content{
    display: flex;
    position: relative;
    margin: auto;
    width: 100%;
}
#slide {
    position: relative;
    margin: auto;
    width: 100%;
    overflow: hidden;
    padding: 0;
    background: #333;
    height: auto;
  }
  #slide ul {
    position: relative;
    list-style: none;
    left: 0%;
    margin: auto;
    height: auto;
    width: 200%;
    clear: both;
    transition: left 500ms ease;
    -moz-transition: left 500ms ease;
    -o-transition: left 500ms ease;
  }
  
  #slide ul li {
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    height: 600px;
    display: flex;
    /* justify-content: center; */
    /* padding: 0 20px; */
  }
  #slide ul li .slide-content{
    color:#Fff;
    padding: 20px 50px;
    flex: 1;
    display:  flex;
    flex-direction: column;
    gap: 20px;
}
#slide ul li .slide-content span{
    color: #AF8514;
}
#slide ul li .slide-content p{
    /* letter-spacing: 1; */
    line-height: 1.40;
}
#slide ul li .slide-content h2{
    color: #1990CE;
}
.btn-mas {
    display: flex;
    justify-content: center;
}
.btn-mas a{
    display: block;
    padding: 10px;
    color:#fff;
    background:#003595;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 300;
    margin-top: 10px;
}
  #slide ul li img {
    /* width: 100%; */
    object-fit: cover;
    max-width: 500px;
  }
  
  #slide ul li h1 {
    /* position: absolute;
    top: 20%;
    left: 10%;
    color: #fff;
    font-size: 3rem; */
  }
  #slide ul li h2 {
    /* position: absolute;
    top: 40%;
    left: 10%;
    width: 40%;
    background: rgba(0,0,0,.5);
    color: #fff;
    padding: 10px; */
  }
  
  #slide .arrow {
    position: absolute;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    z-index: 2;
    padding: 30px 10px;
    background: rgba(0,0,0,.2);
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    height: 100%;
    align-content: center;
    box-shadow: 0 0 200px 0 black;
}
#slide .arrow:hover {
    background: rgba(0,0,0,0.8);
}
#slide .arrow img{
    font-size: 20px;
}
.icon-circle-left{
}
.icon-circle-left{

}

  #slide #prev {
    left: 0;
  }
  #slide #next {
    right: 0;
  }
  
  #slide #paginacion {
    position: absolute;
    width: 100%;
    margin: auto;
    text-align: center;
    line-height: 12px;
    font-size: 15px;
    left: 0;
    z-index: 1;
    bottom: 0px;
    height: 35px;
    align-content:center;
    /* filter: blur(19px); */
    background:rgba(0,0,0,.5);
}
  #slide #paginacion li {
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    opacity: .5;
    color: #fff;
    text-shadow: 0 0 5px #333;
  }
  #slide #paginacion li:first-child {
    opacity: 1;
  }

.container-box{
    display: flex;
    /* grid-template-rows: auto; */
    margin-top: 10px;


    /* grid-template-columns: repeat(3, 1fr); */
    gap: 30px;

    /* grid-auto-rows: minmax(200px, auto); */

    .box-data-content{
        /* grid-column: 1/3;
        gap: 50px; */
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    
}
.noticias-box{
    max-width: 260px;
    position: relative;
}


/* elementos */
.box-elements{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    align-items: center;
    max-width: 940px;
    margin: 0 auto;
    width: 100%;
}
.box-elements h1{
    color: #003595;
}
.main-frame{
    align-items: initial;
}
.main-video-frame{
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    /* width: 50%; */
    flex-direction: column;
    
}
.video-frame{
    /* width: 50%; */
    aspect-ratio: 16/9;
}
.box-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
}
.box-card{
    width:  300px;
    box-shadow: 0 0 2px 0 grey;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box-card h3{
    font-size: 15px;
}
.main-frame-card{
    /* padding: 20px; */
    /* box-shadow: 0 0 2px 0 grey; */
    display: grid;
    justify-content: space-between;
    grid-template-columns: 2fr 1fr;
}
.link-more{
    box-shadow: none;   
    justify-content: center;
    align-items: center;
}
.link-more a{
    background:#003595; 
    padding:10px ;
    text-decoration: none;
    color: #fff;
    display: flex;
}
.link-more a img{
    font-size: 5px;
}
.box-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box-content a{
    color:#003595;
}

.box-cards .wrap{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    /* max-width: 1000px; */
    margin: 0 auto;
}
.noticias-box .wrap {
    flex-direction: column;
}
.noticias-box .box-elements{ 
    display: flex;
}
.noticias-box .box-card {
    width: auto;
}
.box-card span {
    color: #AF8514;
}
.box-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.main-frame-card img{   
    width: 100%;
    height: auto;
}

.contacto{
    display:flex;
    flex-direction: column;
    padding: 10px;
    background:#14264e;
}

.contacto .links {
    flex: content;
    color:#fff;
    text-decoration: none;
    display: flex;
    list-style-type: none;
    font-size: 13px;
    justify-content: space-around;
}
.contacto .links img{
    display: flex;
    width: 60px;
}




/* main container */





footer{
    /* display: flex */
   box-shadow: 0 0 20px 0 grey;
   height: 520px;
   position: sticky;
   bottom: 0;
   z-index: -999;
}

.footer-info{
    display: flex;
    justify-content: space-between;
    /* background:#eddba6; */
    padding: 30px 10px;
    gap: 10px;
    background:#ffF;
}
.footer-container{
    background-color:#f1ebd5;

}
.foter-columns {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}
.col{
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    /* color:blue; */
    text-align: center;
    gap: 10px;
    justify-content: center;
}
.col-contact{
    display: flex;
    flex-direction: column;
}
.col-redes ul{
    display: flex;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.col-redes ul li a img{
    width: 50px;
    height: 50px;
}
.col span{
    padding: 10px;
}
.col span a{
    color:blue;
}
.maps{
    width: 400px;
    height: 400px;
}
.footer-content {
    height: 60px;
    display: flex;
    align-items:center;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.footer-center p{
    color:rgba(0,0,0,0.8);
    font-style: italic;
}
.footer-rigth{
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
}
.footer-left img,
.footer-rigth img{
    display: flex;
}


.img-b{
    position: absolute;
    width: 80%;

    z-index: 1000;
}



.logos{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.logos img{
    /* width: 100px; */
}

.logos .logo1{
    display: flex;
    height: auto;
    width: 90px;
    height: 100px;
}

.logos .logo2{
    height: 80px;
    width:  100px;
}
.logos-facultad {
    display: flex;
    height: 80px;
    width: 100px;
}
.logos-facultad .lgos-fondo{
    display: flex;
    position: relative;
    align-items:center;
    justify-content: center;
    /* height: 80px; */
}
.logos-facultad .facultad-logo{
    position: absolute;
    width: 70px;
}
.logo-principal{
    display: flex;
    justify-content: center;

    align-items:center;
}

.header-responsive{
    display: none;
}

.header-menu{
    display: flex;
    justify-content: center;
    align-items:end;
    padding-bottom: 30px;
    padding-top: 90px;
    text-align: center;
}
.content-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.content-header label {
    cursor: pointer;
}
.content-header label img{
    width: 40px;
    height: 40px;
}

.menu-list{
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    background:#b89d2b;
    width: 100%;
    height: auto;
    
    
    animation-duration: 3s;
}
.menu-list li{
    display: flex;
    flex-direction: column;
}
.menu-list li a{
    color:#fff;
    padding: 10px;
    font-size: 20px;
    display: flex;
    text-decoration:none;
    border-bottom:1px solid #fff;
}
.menu-list li a:hover{
    background: rgba(0,0,0,0.2);
}

#menu-bar:checked ~ .menu-list{ 
    display: flex;
}









/*--------------------------

+++++++MEDIA SCREEN+++++++++

--------------------------*/
/* tamaño de smartphone */
@media screen and (max-width: 767px){
    .header, .header-nav {
        display: none;
    }
    .header-responsive{
        display: flex;
        /* position: ; */
    }
    
    .header-top{
        height:auto;
    }

    .wrap{
        justify-content: center;
    }

    .box-card{
        width: 100%;
    }
    .box-card img{
        height: 390px;
        width: 100%;
    }
    .foter-columns{
        flex-direction: column;
        align-items:center;
    }
}


@media screen and (max-width: 960px){
    /* .box-cards .wrap{
        justify-content: center;
    } */
    .box-elements{
        max-width: 620px;
    }
    #slide ul li img{
        max-width:100%;
    }
    #slide ul li{
        justify-content: center;
    }
    #slide ul li .slide-content{
        position: absolute;
        background:rgba(0,0,0,.5);
        padding: 30px;
        /* margin: 20px 50px; */
        /* bottom:40px; */
        height: 100%;
        justify-content: center;
    }
}